<!DOCTYPE html>
<html>
<head>
    {{template "meta.html"}}
</head>
<body class="no-skin">

<div class="main-container ace-save-state" id="main-container">

    <div class="main-content">
        <div class="main-content-inner">

            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">首页</a>
                    </li>
                    <li class="active">KafkaTopic</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        {{.topicMessage.Topic}}
                    </h1>
                </div>

                <div class="row">
                    <div class="col-xs-12">                        

                        <p class="row">&nbsp;</p>
                        <div class="row">
                            <div class="col-xs-12">
                                <table id="simple-table" class="table  table-bordered table-hover">
                                    <tr>
                                        <th>PartitionId</th>
                                        <th>Message</th>                                        
                                    </tr>
                                    {{range .topicMessage.Message}}
                                    <tr>                                    
                                        <td>{{.PartitionId}}</td>
                                        <td>{{.Txt}}</td>
                                        <td>{{.Offset}}</td>
                                    </tr>
                                    {{end}}
                                </table>
                            </div><!-- /.span -->
                        </div><!-- /.row -->
                        <!-- PAGE CONTENT BEGINS -->

                    </div><!-- /.row -->
                </div><!-- /.page-content -->                

            </div>

        </div>
    </div><!-- /.main-content -->    


    <!-- 编辑窗口 -->
    <div id="my-modal" class="modal fade" tabindex="-1"></div>

    <script type="text/javascript">

        jQuery(function($) {
            //初始化窗口。
            $('.modal.aside').ace_aside();
            $('#aside-inside-modal').addClass('aside').ace_aside({container: ""});
            $(document).one('ajaxloadstart.page', function(e) {
                $('.modal.aside').remove();
                $(window).off('.aside')
            });
            bootbox.setLocale("zh_CN");
        })
        //每次动态加载
        function showMessage(topic) {
            $('#my-modal').context = $("#my-modal").load('/admin/kafka/topicMessage?topic=' + topic);
            $('#my-modal').modal('show');
        }

        function deleteConfirm(Id){
            bootbox.confirm("确认删除？",
                function(result) {
                    if(result) {
                        $.post("/admin/userInfo/delete", {"Id":Id},
                            function(data){window.location.reload();}
                        );
                    }
            });
        }


    </script>
</div><!-- /.main-container -->

</body>
</html>
